.settings
target
.classpath
.project
.springBeans
src/main/webapp/META-INF/maven/com.bit/hellopt/pom.properties
RootConfig.java

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

