<!DOCTYPE html>
<html lang="ko"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=yes">
<meta http-equiv="imagetoolbar" content="no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="true">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="HelloPT">
<meta property="og:title" content="HelloPT">
<title>HelloPT</title>
<link rel="stylesheet" href="./HelloPT/swiper.min.css">
<link href="./HelloPT/css" rel="stylesheet">
<link rel="stylesheet" href="./HelloPT/font.css">
<link rel="stylesheet" href="./HelloPT/default.css">
<link rel="stylesheet" href="./HelloPT/xeicon.min.css">

<link rel="stylesheet" href="./HelloPT/style.css">
<link rel="stylesheet" href="./HelloPT/content.css">
<link rel="stylesheet" href="./HelloPT/responsive.css">

<script>
// 자바스크립트에서 사용하는 전역변수 선언
var g5_url       = "#";
var g5_bbs_url   = "#";
var g5_is_member = "";
var g5_is_admin  = "";
var g5_is_mobile = "";
var g5_bo_table  = "";
var g5_sca       = "";
var g5_editor    = "";
var g5_cookie_domain = "";
</script>
<script type="text/javascript" src="./HelloPT/moment.min.js"></script>
<script src="./HelloPT/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="./HelloPT/jquery-ui.min.js"></script>
<script src="./HelloPT/jquery.menu.js"></script>
<script src="./HelloPT/common.js"></script>
<script src="./HelloPT/wrest.js"></script>
<script src="./HelloPT/placeholders.min.js"></script>

<script src="./HelloPT/script.js"></script>
<link rel="stylesheet" href="./HelloPT/font-awesome.min.css">
</head>
<body>

<!-- 상단 시작 { -->
<header id="hd" class="ease" style="z-index: 1000;">
  <h1>
    <a href="#"><span class="text_split">Main</span></a>
  </h1>
  <button type="button" role="togglebutton" class="nav_button"><span></span></button>
</header>
<!-- 상단 끝 } -->

<!-- 네비게이션 시작 { -->
<aside id="navigation" class="close">
  <div class="navigation_inner">
    <div class="nav_wrap">
      <ul class="category">
        <li><a href="#">메뉴1</a></li>
        <li><a href="#">메뉴2</a></li>
        <li><a href="#" class="artist_open">메뉴3</a>
			<ul class="artist_depth02">
				<li><a href="#">메뉴3-1</a></li>
				<li><a href="#">메뉴3-2</a></li>
			</ul>
		</li>
        <li><a href="#">메뉴4</a></li>
        <li><a href="#">메뉴5</a></li>
      </ul>
      <ul class="user_case">
                    <li><a href="#">login</a></li>
            <li><a href="#">join</a></li>
              </ul>
      <ul class="sns_list">
        <li><a class="sns_00" href="#" target="_blank">twitter</a></li>
        <li><a class="sns_01" href="#" target="_blank">facebook</a></li>
        <li><a class="sns_02" href="#" target="_blank">instagram</a></li>
        <li><a class="sns_03" href="#" target="_blank">youtube</a></li>
        <!-- <li><a class="sns_04" href="#">v-app</a></li>
        <li><a class="sns_05" href="#">weibo</a></li> -->
      </ul>
      <ul class="footer_list">
        <li><a href="#">Term</a></li>
        <li><strong><a href="#">Privacy policy</a></strong></li>
      </ul>
      <p class="footer_info">BIT CAMP</p>
      <p class="copyright">ALL RIGHTS RESERVED. © 2019 HelloPT</p>
    </div>
  </div>
  <div class="dim_bg"></div>
</aside>
<!-- 네비게이션 끝 } -->
    
<!-- 팝업레이어 시작 { -->
<div id="hd_pop">
    <h2>팝업레이어 알림</h2>

<span class="sound_only">팝업레이어 알림이 없습니다.</span></div>

<script>
$(function() {
    $(".hd_pops_reject").click(function() {
        var id = $(this).attr('class').split(' ');
        var ck_name = id[1];
        var exp_time = parseInt(id[2]);
        $("#"+id[1]).css("display", "none");
        set_cookie(ck_name, 1, exp_time, g5_cookie_domain);
    });
    $('.hd_pops_close').click(function() {
        var idb = $(this).attr('class').split(' ');
        $('#'+idb[1]).css('display','none');
    });
    $("#hd").css("z-index", 1000);
});
</script>
<!-- } 팝업레이어 끝 -->
    <script>
    $(function(){
        $(".gnb_menu_btn").click(function(){
            $("#gnb_all").show();
        });
        $(".gnb_close_btn").click(function(){
            $("#gnb_all").hide();
        });

		$(".artist_open").on("click",function(){
			$('.artist_depth02').toggleClass('on');
			$('.user_case').toggleClass('on');
		});
    });
    </script>



<!-- 콘텐츠 시작 { -->
<div id="wrapper">
<!--인트로 비디오 추가-->
<div class="intro_video" style="display: none;">
  <div class="table-cell-wr">
    <!--모바일 일때만, video 속성값에 muted추가 -->
    <video autoplay="" muted="" playsinline="playsinline" id="introVideo" src="http://kozofficial.com/data/intro/intro.mp4" webkit-playsinline="webkit-playsinline"></video>
    <!-- <video autoplay muted playsinline id="introVideo" src="/file/test.mp4"></video> -->
    <!-- <video autoplay="" muted="" playsinline="playsinline" id="introVideo" src="/file/test.mp4" webkit-playsinline="webkit-playsinline"></video> -->
  </div>
  <h2 class="intro_skip">
    Skip
    <span class="show"> <i class="xi-long-arrow-right"></i> </span>
    <!-- <img src="/assets/img/next_arrow.png" alt="메인으로 바로가기"> -->
  </h2>
</div>

<script type="text/javascript">
$(function(){

  // $("#introVideo").play();

  //모바일에 자동재생,
  var video = document.getElementById("introVideo");// Get your video
  video.setAttribute('webkit-playsinline', 'webkit-playsinline');// Fix fullscreen problem on IOS 8 and 9
  video.setAttribute('playsinline', 'playsinline');// Fix fullscreen problem on IOS 10


  //스킵버튼 누르면 인트로 닫기
  $(".intro_skip").on("click",function(){
    $(".intro_video").fadeOut(350);
  });

  //재생시간 지나면 인트로 닫기
  setTimeout(function(){
    $(".intro_video").fadeOut(350);
  },19000);
});

</script>
<!--//인트로 비디오 추가-->
<div id="main">
  <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
      <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-493.993px, 0px, 0px);">
          <div class="swiper-slide swiper-slide-prev" style="margin-right: 140px;">
            <div class="slider_content">
              <div class="scroll-cta" style="display: none;">
                <div class="arrow">
                  <span>
                    <img src="./HelloPT/scroll_arrow.png" alt="마우스휠 안내">
                  </span>
                </div>
                <span>scroll to discover</span>
              </div>
              <a href="#">
                <div class="content_wrap">
                  <div class="content_bg">  
                    <!--<img src="/img/slide01.png" alt="KOZ">-->
                    <img src="./HelloPT/1.jpg" title="">
                  </div>
                  <div class="content_text">
                    <h4>메뉴1</h4>
                    <span>more view</span>
                  </div>
                </div>
              </a>
            </div>
          </div>

		  <div class="swiper-slide swiper-slide-active" style="margin-right: 140px;">
            <div class="slider_content">
              <a href="#">
                <div class="content_wrap">
                  <div class="content_bg">
                    <!--<img src="/img/slide02.png" alt="지코">-->
                    <img src="./HelloPT/2.jpg" title="">
                  </div>
                  <div class="content_text">
                    <h4>메뉴2</h4>
                    <span>more view</span>
                  </div>
                </div>
              </a>
            </div>
          </div>

		  <div class="swiper-slide swiper-slide-next" style="margin-right: 140px;">
            <div class="slider_content">
              <a href="#">
                <div class="content_wrap">
                  <div class="content_bg">
                    <!--<img src="/img/dvwn_main.png" alt="다운">-->
                    <img src="./HelloPT/3.jpg" title="">
                  </div>
                  <div class="content_text">
                    <h4>메뉴3</h4>
                    <span>more view</span>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="swiper-slide" style="margin-right: 140px;">
            <div class="slider_content">
              <a href="#">
                <div class="content_wrap">
                  <div class="content_bg">
                    <!--<img src="/img/slide03.png" alt="SHOW ME WHAT YOU GOT">-->
                    <img src="./HelloPT/4.jpg" title="">
                  </div>
                  <div class="content_text">
                    <h4>메뉴4</h4>
                    <span>more view</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
      </div>
      <div class="swiper-pagination swiper-pagination-fraction"><span class="swiper-pagination-current">2</span> / <span class="swiper-pagination-total">4</span></div>
      <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"></div>
      <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
      <!-- <div class="swiper-scrollbar"></div> -->
  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</div>
<script type="text/javascript" src="./HelloPT/swiper.min.js"></script>
<script type="text/javascript" src="./HelloPT/mainslider.js"></script>


</div>

<!-- } 하단 끝 -->

<script>
$(function() {
    // 폰트 리사이즈 쿠키있으면 실행
    font_resize("container", get_cookie("ck_font_resize_rmv_class"), get_cookie("ck_font_resize_add_class"));
});
</script>



<!-- ie6,7에서 사이드뷰가 게시판 목록에서 아래 사이드뷰에 가려지는 현상 수정 -->
<!--[if lte IE 7]>
<script>
$(function() {
    var $sv_use = $(".sv_use");
    var count = $sv_use.length;

    $sv_use.each(function() {
        $(this).css("z-index", count);
        $(this).css("position", "relative");
        count = count - 1;
    });
});
</script>
<![endif]-->




<!-- <script>

// let vh = window.innerHeight * 0.01;
// document.documentElement.style.setProperty('--vh', `${vh}px`);

$(function(){
  // toggle navigaition
  $('.nav_button').click(function(){
    $(this).toggleClass('off');
    $('#hd').toggleClass('ease');
    $('.sub-x-btn-wr').toggleClass('ease');
    $('#navigation').toggleClass('close');
    $('#navigation').toggleClass('open');
    // $('body').toggleClass('non-scroll');
    var wHeight = $(window).height();
    if($('#navigation').hasClass('open') == true) {
      $('body').css('height',wHeight).css('overflow','hidden');
    } else {
      $('body').css('height','auto').css('overflow','auto');
    }
  });
  });

</script> -->
</body></html>